*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "catamaran", sans-serif;
}

.App {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  font-family: "fascinate inline", sans-serif;
  margin-bottom: 30px;
}
/* 
button.start {
  padding: 15px;
  background-color: #81a4f9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 10px;
} */

.start,
.next {
  cursor: pointer;
  background: linear-gradient(180deg, #ffffff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
}
